%p#notice 

.holidays-container
  .holidays-container-header
    = button_to "Add holiday", new_holiday_path, :method => :get, class: 'button-main'

  .holidays-table
    %table
      %thead
        %tr
          %th 
          %th 
          %th Why go here?
          %th Flight price
          %th Added by
          %th Votes
          %th 
        %tbody
          - @holidays.each_with_index do |holiday, i|
            %tr
              %td= i + 1  
              %td= holiday.location
              %td= holiday.description
              %td= "£ #{holiday.flight_price}"
              %td= holiday.creator.first_name
              %td= holiday.votes.count 
              %td
                - if current_user.id == holiday.creator.id
                  = link_to 'Edit', edit_holiday_path(holiday)
                - else
                  = link_to 'Vote', votes_path(voter_id: current_user.id, holiday_id: holiday.id), method: 'post'



-# <td><%= link_to 'Show', holiday %></td>
-# <td><%= link_to 'Edit', edit_holiday_path(holiday) %></td>
-# <td><%= link_to 'Destroy', holiday, method: :delete, data: { confirm: 'Are you sure?' } %></td>